<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myim">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ind"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyIM">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IM_Activity.Conversation">
        </activity>
        <activity android:name=".IM_Activity.ChatLyout">
        </activity>
        <activity android:name=".IM_Activity.Contact"/>
        <activity android:name=".IM_Activity.Person"/>
        <activity android:name=".IM_Activity.FriendProfile"/>
        <activity android:name=".live.Push"/>
        <activity android:name=".live.Play"/>
        <activity android:name=".IM_Activity.person.AddFriends"/>
        <activity android:name=".IM_Activity.person.DeleteFriend"/>
        <activity android:name=".IM_Activity.contact.NewFriends"/>
        <activity android:name=".IM_Activity.contact.MyGroup"/>
        <activity android:name=".IM_Activity.contact.BlackList"/>
        <activity android:name=".IM_Activity.person.HttpToolActivity"/>
        <activity android:name=".Test"/>
        <activity android:name=".IM_Activity.MLive"/>
        <activity android:name=".IM_Activity.SetNick"/>
        <activity android:name=".IM_Activity.contact.AddFriend"/>
<!--        <activity android:name=".ORCApplication"/>-->
    </application>

    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WR"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>